@page "/customers/edit/{id:int}/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Customer</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditCustomer" customer="customer" />

@code {
    [Parameter] public int Id { get; set; }
    Customer customer = new Customer();

    protected async override Task OnParametersSetAsync()
    {
        customer = await _client.GetFromJsonAsync<Customer>("api/customers/" + Id);
    }

    async Task EditCustomer()
    {
        await _client.PutAsJsonAsync("api/customers/"+Id, customer);
        _navManager.NavigateTo("/customers/");
    }
}